html
    head
        meta(charset="utf-8")
        style
            include ../style/main.css
    body
        div(class="wrapper")
            h1(class="greeting") Szia #{fullName}!
            h2(class="sub-greeting") Az Évgyűrű Alapítvány honlapján a regisztrációdat a lenti gombra kattintva tudod véglegesíteni:
            div(class="confirm-wrapper")
                a(class="confirm-signup" href=signupConfirmationLink) Regisztráció megerősítése
    footer
        div(class="footer-wrapper")
            p © 2022 Évgyűrű Alapítvány
